/* =======tag======= */
html,body{height:100%;overflow:hidden;font-size:12px;font-family:arial, sans-serif;}
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,div,form{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#1e50a2;outline:none;}
img{border:none;}
/* =======class======= */
.sprite{display:block;overflow:hidden;height:0;background:url(../img/sprite.gif) no-repeat left top;}
.btnL{float:left;display:block;height:20px;line-height:20px;padding-left:5px;background:url(../img/sprite.gif) no-repeat left -55px;cursor:pointer;}
.btnR{float:left;display:block;height:20px;padding-right:5px;background:url(../img/sprite.gif) no-repeat right -35px;overflow:hidden;}
.btnRnD{position:relative;padding-right:25px;}
.btnRnD .arrow-down{position:absolute;top:2px;right:5px;width:16px;padding-top:16px;background-position:-192px -19px;}
.btnL-over,.btnL:hover, .btnL.hover{background-position:left -435px;}
.btnL-over .btnR,.btnL:hover .btnR, .btnL.hover .btnR{background-position:right -415px;}
.btnL-over .btnRnD .arrow-down,.btnL:hover .btnRnD .arrow-down,.btnL.hover .btnRnD .arrow-down{background-position:-208px -19px;}
.arrow-up-gray{width:10px;padding-top:10px;background-position:-50px -21px;}
.arrow-down-gray{width:10px;padding-top:10px;background-position:left -21px;}
.sml-add-subscribe{position:relative;width:51px;text-align:center;}
.sml-add-subscribe .btnR{width:35px;padding-left:11px;}
.sml-add-subscribe .sprite{position:absolute;left:4px;top:2px;width:16px;padding-top:15px;background-position:-226px top;}
.preview-subscribe{position:relative;width:51px;text-align:center;}
.preview-subscribe .btnR{width:35px;padding-left:11px;}
.preview-subscribe .sprite{position:absolute;left:4px;top:2px;width:16px;padding-top:15px;background-position:-242px top;}
.foolinkL{display:block;height:19px;padding-left:5px;}
.foolinkR{float:left;display:block;height:18px;line-height:18px;padding:1px 5px 0 0;color:#2153A4;cursor:pointer;}
.foolinkL-over,.foolinkL-active,.foolinkL:hover{background:url(../img/sprite.gif) no-repeat left -474px;}
.foolinkL-over .foolinkR,.foolinkL-active .foolinkR,.foolinkL:hover .foolinkR{position:relative;background:url(../img/sprite.gif) no-repeat right -455px;}
.foolinkL-active .foolinkR{cursor:default;}
.current .foolinkR,.current:hover,.current:hover .foolinkR{color:#000;background:none;}
.blueBtnL{float:left;display:block;height:30px;line-height:30px;padding-left:5px;color:#1e50a2;background:url(../img/sprite.gif) no-repeat left -940px;cursor:pointer;font-weight:bold;}
.blueBtnR{float:left;display:block;height:30px;padding-right:5px;background:url(../img/sprite.gif) no-repeat right -970px;}
.tip-wrapper{position:relative;border-right:1px solid #cecece;border-bottom:2px solid #e7e8e8;}
.tip-wrapper a:hover{text-decoration:underline;}
.tip-content{border:1px solid #b9cbdf;background:#ffc;}
.tip-bar{height:30px;padding:0 8px;line-height:30px;font-size:14px;font-weight:bold;border-bottom:1px dotted #bbbba1;}
.tip-inner{padding:8px;}
.close-tip{position:absolute;right:4px;top:4px;padding-right:4px;height:16px;line-height:16px;cursor:pointer;}
.close-tip .sprite{position:absolute;right:0;top:0;width:16px;padding-top:16px;background-position:-64px top;}
.tip{color:#777;margin-left:5px;}
.scroll-container{height:100%;}
.fixed{overflow:hidden;}
.scrolled{position:relative;overflow-x:hidden;overflow-y:auto;}
.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.cl{clear:left;}
.fl{float:left;}
.fr{float:right;}
.fc{float:none;margin:0 auto;clear:both;}
.ac{text-align:center;}
.red{color:#c00;}
/* =======布局======= */
#top{position:absolute;z-index:2;left:0;top:0;width:100%;}
#main{position:absolute;z-index:1;top:65px;width:100%;overflow:hidden;}
/* 上部分 */
#logo{position:absolute;left:10px;top:30px;width:94px;height:29px;}
#logo .sprite{width:94px;padding-top:29px;background:url(../img/readerlogo.png) no-repeat;}
#topNav{position:absolute;}
/* 站点导航 */
#topSubNav{position:absolute;z-index:1000;width:100%;height:23px;line-height:23px;}
#topSubNav .fl{padding-left:10px;}
#topSubNav .fr{padding-right:10px;}
#topSubNav li{float:left;}
#topSubNav .slice{margin:-1px 5px 0;text-align:center;}
#topSubNav a{position:relative;float:left;display:block;text-decoration:underline;}
#topSubNav a:hover{text-decoration:underline;}
#topSubNav a.popmenu{padding-right:12px;}
#topSubNav a span.sprite{position:absolute;top:4px;right:0;width:12px;padding-top:12px;}
/* 搜索 */
#topSearch{position:absolute;left:120px;top:35px;}


/* 左侧导航 */
#navigation{float:left;width:245px;height:100%;overflow:auto;}
#navigation a{color:#000;font-size:13px;}
#navigation .fixed{line-height:25px;}
#navigation .fixed a{display:block;padding-left:9px;}
#navigation .collapsed a,#navigation .expanded a{padding-left:0px;background:url(../img/sprite.gif) no-repeat -258px -73px;}
#navigation .expanded a{background-position:-258px -95px;}
#navigation .collapsed a strong,#navigation .expanded a strong{padding:0 9px 0 34px;}
#main #addSubscribeBtn{height:40px;}
#main #addSubscribeBtn a{position:relative;display:block;margin:10px 0 0 9px;padding:0;width:101px;height:25px;line-height:25px;font-size:14px;font-weight:bold;}
#main #addSubscribeBtn a:hover{}
.add-subscribe{position:absolute;left:20px;top:0px;padding-top:25px;width:110px;background-position:left -1030px;cursor:pointer;}
#goHome{position:relative;}
#main #goHome a{width:211px; margin-bottom:5px; padding-left:34px;font-weight:bold;border-bottom:1px solid #9FC2E2;}
#goHome .sprite{position:absolute;left:7px;top:5px;width:22px;padding-top:22px;background-position:-453px top;}
#goToHomePage{line-height:40px; width:220px; font-size:18px;}
.all-readed strong{font-weight:normal;}
#navigation .scrolled{width:245px;}
#navigation .scrolled a{display:block;line-height:22px;height:22px;}/* 控制换行 */
.accordion-header,#unreadedFolderHeader{position:relative;height:25px;overflow:hidden;}/* 控制换行 */
.accordion-header .sprite,#unreadedFolderHeader .sprite{position:absolute;left:7px;top:1px;width:22px;padding-top:22px;background-position:-308px top;}
#navigation #unreadedFolderHeader a{padding-left:34px;}
#favoriteFolderHeader .sprite{background-position:-330px top;}
#shareFolderHeader .sprite{background-position:0px -17px;background-image:url(/../img/share_sprite.gif);}
#feedFolderHeader .sprite{background-position:-374px top;}
/* 无项目提示 */
#navigation .no-content-tip{margin:6px;padding:4px;line-height:16px;font-size:12px;border:1px solid #ccc;}
#navigation .no-content-tip a{display:inline;font-size:12px;color:#1e50a2;}
#navigation .no-content-tip a:hover{text-decoration:underline;}
/* 分享*/
#navigation #share .tags a{background-image:url(/../img/share_sprite.gif);background-position:23px -37px;}
#navigation #share .tags a:hover{}
/* 收藏 */
#navigation .tags a{padding-left:43px;background-image:url(../img/sprite.gif);background-repeat:no-repeat;background-position:22px -620px;}
#navigation .tags a:hover,.tags a.current{background-image:url(../img/sprite.gif);background-repeat:no-repeat;background-position:22px -600px;}
/* 订阅 */
#feeds{position:relative;}
.folders li{position:relative;white-space:nowrap;}
.folders li ul{display:none;}
.folders li.expanded-folder ul{display:block;}
.folders li .sprite{position:absolute;left:7px;top:5px;z-index:1;width:13px;padding-top:13px;background-position:-162px -17px;cursor:pointer;}
.folders li.expanded-folder .sprite{background-position:-178px -17px;}
.folders a,.folders a.current:hover{padding-left:43px;border:#fff solid;border-width:1px 0 0;}
.subscribes a,.subscribes a.current:hover{padding-left:43px;}
.folders ul.subscribes a,.folders ul.subscribes a.current:hover{padding-left:60px;}
/* folder及subscribe图标 */
.folders a{position:relative;}
.folder-icon,.subscribe-icon{float:left;}
.folders a .sprite{position:absolute;padding-top:22px;}
.folders a .folder-icon{left:22px;top:0;width:15px;background-position:left -371px;}
.folders .expanded-folder a .folder-icon{background-position:left -305px;}
.subscribes {position:relative;}
.subscribes li{position:relative;}
.subscribes a{position:relative;}
.subscribes li .subscribe-icon{position:absolute;left:22px;top:0;width:32px;padding-top:22px;background-position:left -393px;}
.folders ul.subscribes .subscribe-icon{background-position:left -327px;}
.folders ul.subscribes .last-subscribe .subscribe-icon{background-position:left -349px;}

/* 导航底部 */
#navigationBottom{position:absolute;left:0;width:220px;height:25px;padding:2px 10px;line-height:25px;border-top:1px dotted;}
#navigation .fixed a#channelFilterIcon{position:absolute;top:5px;width:17px;padding:17px 0 0 0;background-position:-192px top;}
#channelFilterForm{position:absolute;z-index:100;left:0;top:0;display:none;width:220px;padding:2px 10px;height:25px;background:#ededed;}
#channelFilterTitle{float:left;width:17px;margin-top:3px;padding-top:17px;background-position:-209px top;cursor:pointer;}
#channelFilterInput{float:left;width:160px;height:16px;margin:2px 5px;border:1px solid #7F9DB9;color:#b3b3b3;}
#channelFilterInput.focus{color:#333;}
#navigation .fixed a#channelFilterClose{position:absolute;right:5px;top:5px;padding-left:5px;}
#channelActions a.foolinkL{margin-top:3px;float:left;padding-left:5px;}
/* 右侧内容 */
#contentWrapper{position:relative;height:100%;margin:-35px 0 0 245px;padding-left:10px;white-space:normal;}
/* 侧栏切换 */
#toggleNavigation{position:absolute;left:0;top:0;width:10px;height:100%;overflow:hidden;cursor:pointer;}
#toggleNavigation .sprite{position:absolute;top:50%;width:10px;margin-top:-40px;padding-top:10px;}
.toggle-expanded .sprite{background-position:left -11px;}
#toggleNavigation.half-toggle{top:32px;}
#toggleNavigation.half-toggle .sprite{margin-top:-56px;}
/* 内容 */
#content{height:100%;overflow:auto;}
/* 有些地方用的是H2, 有些地方用的是a */
#contentTitle h2{padding-left:20px;height:32px;line-height:32px;font-size:16px;font-weight:bold;letter-spacing:.1em;}
#contentTitle a{display:block;float:left;height:32px;line-height:32px;font-size:16px;font-weight:bold;letter-spacing:.1em;color:#000;}
#contentTitle .subscribe-title{position:relative;display:block;float:left;}
#contentTitle small{font-weight:normal;}
#contentTitle small a{display:inline;float:none;font-size:12px;font-weight:normal;color:#1E50A2;}
#contentTitle small a:hover{text-decoration:underline;}
.title-this{position:absolute;right:0;top:9px;width:12px;padding-top:12px;background-position:-32px -21px;cursor:pointer;}
#contentFunctionBar{height:20px;padding:4px 8px;line-height:20px;}
#contentListType{position:relative;float:left;padding-right:5px;}
#contentListType .slice{display:none;position:absolute;top:0;right:0;width:2px;padding-top:20px;background-position:-50px top;}
#contentFunctionBar .label,#contentFunctionBar .selection{float:left;}
#contentFunctionBar .selection{margin-right:5px;}
#contentFunctionBar .current{font-weight:bold;color:#000;}
.cast{position:relative;border-bottom:1px solid;}
#contentView .cast .cast-container,#contentView .cast .cast-function-bar{display:none;}
#contentView .expanded .cast-container,#contentView .expanded .cast-function-bar{display:block;clear:both;padding-bottom:5px;}
#current-read{border:none;}
.cast-wrapper{border:2px solid;}
.cast-content{max-width:700px;font-size:14px;line-height:160%;}
.cast-content p{margin:0;padding:0 0 10px;}/* <p> hack, for article display */
.cast-content hr{margin:5px 0;padding:0;}/* <hr> hack, for article display */
.cast-clip{position:relative;height:22px;padding:2px 0;line-height:22px;overflow:hidden;}
.cast-clip-icon{position:absolute;z-index:2;left:5px;top:4px;}
.all-expanded .cast-clip-icon{top:2px;}
.fav-star{width:16px;padding-top:16px;background-position:left -200px;cursor:pointer;}
.faved-star{width:16px;padding-top:16px;background-position:left -216px;cursor:pointer;}
.share-bubble{background-image:url(/../img/share_sprite.gif);width:16px;padding-top:16px;background-position:0 -59px;cursor:pointer;}
.shared-bubble{background-image:url(/../img/share_sprite.gif);width:16px;padding-top:16px;background-position:0 -79px;cursor:pointer;}
.cast-clip-date{float:right;padding-left:10px;color:#888888;}
.cast-clip-author{position:absolute;left:25px;width:170px;color:#888;}
.source-hided .cast-clip-author{display:none;}
.cast-clip-author-link{position:absolute;z-index:3;right:3px;top:6px;width:16px;padding-top:16px;background-position:right -232px;}
.cast-clip-container{padding:0 22px 0 200px;cursor:pointer;}
.source-hided .cast-clip-container{padding-left:30px;}
.cast-clip-container h2{display:inline;font-size:14px;}
.readed .cast-clip h2{font-weight:normal;}
.cast-clip-content{margin-left:10px;color:#888;}
.cast-container{padding:10px 20px 0 25px;}
.stat .sharedBy,.stat .source,.stat .author,.stat .num{margin-right:10px;color:#888;}
.cast-title{max-width:700px;}
.cast-title a:hover{text-decoration:underline;}
.cast-title h2{font-size:20px;}
.cast-title h2 a{/*position:relative;padding-right:23px;*/color:#000;}
.cast-title .stat{margin:.5em 0 1em;color:#888;}
.cast-function-bar{height:22px;padding-left:5px;line-height:16px;}
.cast-function-bar .function{float:left;margin:2px 5px 0 0;}
.cast-function-bar .function .foolinkL{float:left;}
.cast-function-bar .sprite{float:left;height:16px;color:#175991;padding-left:18px;cursor:pointer;}
.cast-function-fav{background-position:left -200px;}
.cast-function-faved{background-position:left -216px;}
.cast-function-readed{background-position:left -120px;}
.cast-function-unreaded{background-position:left -136px;}
.cast-function-email{background-position:left -535px;}
.cast-function-blog{background-position:left -551px;}
.cast-function-go{background-position:left -1065px;}
.cast-function-linkshare{background-image:url(/../img/share_sprite.gif);}
.cast-function-tag{background-position:left -567px;}
.cast-function-emailed{background-position:left -152px;}
.cast-function-bloged{background-position:left -168px;}
.cast-function-taged{background-position:left -184px;}
.cast-tags{float:left;margin-left:1px;padding-top:2px;color:#666;}
/* 全文模式 */
.all-expanded .cast{margin-bottom:10px;}
.all-expanded .cast-wrapper{border-color:#fff #fff #f1f1f1;}
#contentView.all-expanded .cast .cast-clip{position:absolute;top:15px;width:25px;}
.all-expanded .readed .cast-clip{background:transparent;}
.all-expanded .readed .cast-wrapper{border-color:#fff #fff #f1f1f1;}
.all-expanded .readed .cast-title h2{font-weight:normal;}
.all-expanded #current-read.readed .cast-title h2{font-weight:bold;}
#contentView.all-expanded .cast .cast-container,#contentView.all-expanded .cast .cast-function-bar{display:block;clear:both;padding-bottom:5px;}

/* =======自适应布局======= */
.autoLeft{float:left;position:relative;width:720px;}

/* 公共*/
#contentContainer .bar-item .container{padding:10px;}
/* 首页footer */
#contentFoot{margin:15px 0 15px 15px;}
#contentFoot a:hover{text-decoration:underline;}
#contentFoot p{margin:0;text-align:center;}
#contentFoot .slice{margin:0 5px;}


/* 右侧 */
#subscribesWrapper{position:relative;margin:0 0 0 140px;width:855px;}
#subscribesWrapper a:hover{text-decoration:underline;}
/* 子分类 */
#subHotSubscribes{position:relative;margin:0;padding:0 10px;border:1px solid #9FC2E2;background:#F5F9FF;zoom:1;}
#subHotSubscribes li{float:left;width:12%;height:25px;line-height:25px;}
#subHotSubscribes a.current{font-weight:bold;color:#000;text-decoration:none;cursor:default;}
#expandSubHotSubscribes{position:absolute;right:20px;bottom:-10px;width:40px;padding-top:10px;background-image:url(skin/default/../img/sprite-hot-subs.png);background-position:-384px top;cursor:pointer;}
#collapseSubHotSubscribes{position:absolute;right:20px;bottom:-10px;width:40px;padding-top:10px;background-image:url(skin/default/../img/sprite-hot-subs.png);background-position:-384px -10px;cursor:pointer;}
/* 内容 */
#hotSubscribesContainer{margin:20px 0 0 10px;}
#hotSubscribesContainer li{float:left;width:420px;}
#hotSubscribesContainer li h3{font-size:16px;}
#hotSubscribesContainer li h3 a{color:#000;}
#hotSubscribesContainer li h3 small{margin-left:5px;font-size:12px;font-weight:normal;}
#hotSubscribesContainer .info{position:relative;height:95px;margin:0 0 15px 0;padding:10px 20px 0 88px;}
#hotSubscribesContainer .info dt{position:absolute;left:0;text-align:center;margin:0;padding:0;}
#hotSubscribesContainer .info dt .review-feedicon{left:0;top:0;}
#hotSubscribesContainer .info dd{margin:0;padding:0;}
#hotSubscribesContainer .info .stat{margin:0 0 5px;width:270px;}
#hotSubscribesContainer .info .desc{display:block;margin-bottom:2px;}
#hotSubscribesContainer .info .recent li{float:none;width:auto;line-height:160%;}
.shareEntry dd.functions{margin: 5px 0 0 0}
#reader_welcome .functions,.shareEntry .functions,#hotSubscribesContainer .info .functions{margin-top:5px;line-height:20px;}
#reader_welcome .go2read .sprite,.shareEntry .functions .go2read .sprite,#hotSubscribesContainer .info .functions .go2read .sprite{float:left;width:12px;padding-top:18px;background:url(../img/sprite-hot.png) no-repeat -740px top;}
#reader_welcome .slice,.shareEntry .functions .slice,#hotSubscribesContainer .info .functions .slice{float:left;margin:0 5px;}
#reader_welcome .btnL,.shareEntry .functions .btnL,#hotSubscribesContainer .info .functions .btnL{margin-right:10px;}


/* base style */
#main{background:white;}
/* 顶部标签 */
#topNav{right:10px;top:35px;width:245px;font-weight:bold;font-size:1.2em;}
#topNav li{float:left;}
#topNav a{position:relative;display:block;float:left;width:80px;height:30px;line-height:30px;text-align:center;}
#topNav a:hover{text-decoration:underline;}
#topNav a .sprite{display:none;position:absolute;left:50%;bottom:0;width:9px;padding-top:5px;margin-left:-4px;cursor:pointer;}
#topNav a.current{cursor:pointer;}
#topNav a.current .sprite{display:block;}
#topNav .tn-hot-subscribes{padding:0 2px 0 3px;}
/* 站点导航 */
#topSubNav{height:25px;}
#topSubNav a span.sprite{background-position:-7px -206px;}


/* =======Skin init======= */
#top{background:#a9caf4 url(skin/default/../img/sprite.gif) left top repeat-x;height:65px;}
#topBgLeft{position:absolute;left:0;top:0;height:65px;}
#topBgRight{position:absolute;right:0;top:0;width:255px;height:65px;background:url(skin/default/../img/sprite.gif) no-repeat left -450px;}
/* 顶部标签 */
#topNav a{color:#1b4c9d;}
#topNav a:hover{color:#00286c;}
#topNav a .sprite{background:url(skin/default/../img/sprite.gif) no-repeat -31px -215px;}
#topNav a.current{color:#000;}
/* 站点导航 */
#topSubNav .sprite{background-image:url(skin/default/../img/sprite.gif);}
#topSubNav .slice{color:#1e50a2;}
#topSubNav a{color:#79a0bc;text-decoration:none;}
#topSubNav a:hover{color:#1e50a2;}
#topSubNav .topSubText{color:#79a0bc;}

/* 内容 */
#contentFunctionBar{background-color:#e8f3fb;}
#current-read .cast-wrapper{border-color:#1e50a2;}
#contentPageBar{background-color:#e8f3fb;}
#navigation{background:white;}
#navigation #addSubscribeBtn a{color:#518006;}
#navigation .fixed a:hover,#navigation .scrolled a:hover{background-color:#ffc;}
#navigation a.current:hover{background-color:#ffc;}
#navigation a.current{background-color:#e8f3fb;}
#channelFilter{background:#eef4ff;}
#navigation #navigationBottom{background:white;border-color:#b0bec7;}
#contentWrapper{background:white;}
#contentTitle{background:white;}
#toggleNavigation{background:#e8f3fb;}
#toggleNavigation.hover{background:#e0def9/*ecf3ff*/;}
#content{background:white;}
.cast{border-bottom-color:#ccc;}
.cast-wrapper{border-color:#fff;}
.readed .cast-wrapper{border-color:#f2f2f2;}
.readed .cast-clip{background:#f2f2f2;}
.cast-container{background:#F7FCFF;}
.cast-function-bar{background-color:#f7fcff;}


/* global */
.song{font-family:宋体;}
.clear{*display:inline-block;}




